**Date:** {{ "2026-05-07" }}

{% include 'sections/header.md.j2' %}

{% include 'sections/summary_section.md.j2' %}

{% include 'sections/line_items.md.j2' %}

{% include 'sections/regulatory.md.j2' %}

{% include 'sections/terms.md.j2' %}

{% include 'sections/signature.md.j2' %}
