{# section: signature #}
## Authorization

By signing below, the client authorizes Contoso Environmental Services to proceed with the services described in this quote.

<table class="signature-table">
<tr>
<td class="sig-label"><strong>Client Signature:</strong></td>
<td class="sig-line"></td>
</tr>
<tr>
<td class="sig-label"><strong>Printed Name:</strong></td>
<td class="sig-line"></td>
</tr>
<tr>
<td class="sig-label"><strong>Date:</strong></td>
<td class="sig-line"></td>
</tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr>
<td class="sig-label"><strong>Contoso Representative:</strong></td>
<td class="sig-line"></td>
</tr>
<tr>
<td class="sig-label"><strong>Date:</strong></td>
<td class="sig-line"></td>
</tr>
</table>
